<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156103685351-091e1i59hcq9inmp6rsktc77g9n1of4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156103685351-091e1i59hcq9inmp6rsktc77g9n1of4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156103685351-7k74j4c6qqtj6ule63d61ak75md87an1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiRcm8J__8y3sYzgqFPg8gF_5cqTxdxUo</string>
	<key>GCM_SENDER_ID</key>
	<string>156103685351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exmaple.verygoodcore.ecommerce-app</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-cd334</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-cd334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156103685351:ios:43764ca4655574834a9e42</string>
</dict>
</plist>